@font-face {
    font-family: "PlusJakartaDisplayMedium";
    src: url(../fonts/PlusJakartaDisplay-Medium.ttf) format("truetype");
}
    @font-face {
    font-family: "PlusJakartaDisplayRegular";
    src: url(../fonts/PlusJakartaDisplay-Regular.ttf) format("truetype");
  }
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  body{
      width: 100%;
      min-height: 50vh;
      display: flex;
      align-items: flex-start;
      justify-content: center;

  }
  .box_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* max-width: 1920px; */
    width: 100%;
    /* height: auto; */
    height: 100vh;
  }
  /* header styles */
  header{
      width: 100%;
      height: 107.4px;
      background-color: #2B3C58;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-right: 10%;
      position: relative;
  }
.logo_img{
    height: 99px;
}
.box_search{
    width: 323px;
    height: 42.8px;
    /* border: 2px solid red; */
    margin: auto 0px;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    top: 10px;
}
.input{
    height: 42.8px;
    width: 275px;
    padding-left: 5px;
    position: relative;
    top: -15px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
    font-size: 14px;
    outline:none;
}
.search_btn{
    height: 42.8px;
    width: 44px;
    background: #E6E6E6;
    display:inline;
    position: relative;
    top: -8.5px;
    left: -5px;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
}
.box_button__header{
    margin: auto 0px;
    border: 1.2px solid #FBB03B;
    width: 138.5092px;
    height: 61,9442px;
    border-radius: 50px;
    background:linear-gradient(-175deg, #ffb237,#ff5365);
    box-shadow: 4px 4px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button_text{
    color: white;
    width: 50px;
    height: 21px;
    font-size: 14px;
    font-family: "PlusJakartaDisplayRegular";
}
/* box_body */
.box_body{
    width: 100%;
    min-height: 1050px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    position: relative;
}
.main_left{
    width: 16%;
    min-width: 280px;
    /* height: 810px; */
    height: 100%;
    /* border: 2px solid red; */
    background: #E4EDF4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    top: 0px;
    left: 0px;
}
nav{
    width: 260px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.nav_children{
    display: flex;
    width: 210px;
    height: 50px;
    cursor: pointer;
    align-items: center;
    padding: 10px;
    position: relative;
}
/* .nav_children:hover{
    background-color: #889DBA;
    border-radius: 5px;
} */
.nav_children.nav{
    background-color: #889DBA;
    border: 0.6px solid #6F8DAD;
    border-radius: 5px;
}

.icons.nav{
    display: none;
}
.icons{
    width: 25px;
}
.icons.home{
    transform: scale(1.2);
}
.text{
    font-family: "PlusJakartaDisplayMedium";
    font-size: 16px;
    margin-left: 15px;
    color: #2B3C58;
}
.text.white{
    color: rgb(255, 255, 255);
}
.text_number{

}
.text_number.active{
 width: 37px;
 height: 21px;
 background-color: #74BEFF;
 color: white;
 text-align: center;
 border-radius: 50px;
 padding-top: 2px;
 position: absolute;
 right: 10px;
 top: 15px;
}



.box_wallpaper{
    background-color: #889DBA;
    height: 347px;
    width: 230px;
    border-radius: 10px;
    margin-top: 50px;
}
/* main_right */
.main_right{
    width: 84%;
    /* height: 750px; */
    height: 100%;
    background: #F5F7FA;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding-left: 100px;
    position: relative;
}

.small_categories_box{
    height: 60px;
    width: 90%;
    max-width: 1920px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: "PlusJakartaDisplayMedium";
    font-size: 16px;
    color: #2B3C58;
    margin-top: 15px;
    overflow: hidden;
}
.box_one{
    display: flex;
    min-width: 60px;
    height: 25px;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: start;
    text-align: center;
}
.box_one__img{
    width: 16px;
    margin: 0 5px;
}
.box_one__title{
    font-size: 12px;
    width: auto;
    height: 25px;
    text-align: center;
    position: relative;
    top: 4px;
}
.box_arrow{
    height: 20px;
    width: 5px;
    margin: 0 15px;
}
.arrow{
    height: 13px;
    transform: rotate(180deg);
}

/* box_big_slider */
.box_big_slider{
    max-height: 511px;
    max-width: 1355px;
    width: 100%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    border-radius: 5px;
}
.big_slider__left{
    height: 100%;
    width: 35%;
    min-width: 400px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}
.slider_left__title{
    width: 358px;
    height: 68px;
    /* border: 2px solid red; */
    font-size: 26px;
    font-family: "PlusJakartaDisplayRegular";
}

.slider_left__stars{
/* border: 2px solid red; */
display: flex;
width: 260px;
justify-content: space-between;align-items: center;
height: 40px;
margin:15px 0px;
}
.left_stars__img{
    /* border: 2px solid red; */
    display: flex;
    cursor: pointer;
}
.left_stars__number{
    color: rgb(92, 92, 92);
    margin: 0 3px;
    font-size: 18px;
    font-family: "PlusJakartaDisplayRegular";
    font-weight: 100;
}
.left_stars__dowloader{
    /* border: 2px solid red; */
    display: flex;
    width: 60px;
    height: 28px;
    justify-content: space-between;
}
.stars_dowloader__number{
    font-size: 22px;
    margin: auto 3px;
    color: rgb(92, 92, 92);
}
.stars_dowloader__img{
    cursor: pointer;
}
.left_text{
    font-family: "PlusJakartaDisplayRegular";
    font-size: 15px;
    color: rgb(92, 92, 92);
    width:405px;
    min-height: 120px;
    /* border: 2px solid red; */
    margin-right: 10px;
}
.left_text__btn{
    background-color: #74BEFF;
    color: white;
    min-height: 61px;
    text-align: center;
    width: 208px;
    border-radius: 5px;
    border: 2px solid #89dae839;
    margin: 30% auto 30px;
    font-family: "PlusJakartaDisplayRegular";
    font-size: 20px;
    cursor: pointer;
}

.big_slider__right{
    width: 65%;
    height: 100%;
    /* border: 2px solid red; */
    overflow: hidden;

}
.big_slider__img{
    width: 100%;
}

/* box_small_slider */
.box_small__slider{
    max-height: 311px;
    max-width: 1355px;
    width: 100%;
    display: flex;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    padding: 15px 0;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    /* border: 2px solid red; */
}
.box_small__title{
    width: 150px;
    height: 48px;
    font-size: 22px;
    font-family: "PlusJakartaDisplayRegular";
    margin: 25px auto;
    color: rgb(92, 92, 92);
}
.small_slider__ourbox{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.small_slider__box{
    background-color: white;
    width: 305px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
.slider_box__img{
 /* height: 200px; */
 max-width: 285px;
}
.slider_box__text{
    font-size: 15px;
    color:#4D4D4D;
    font-family: "PlusJakartaDisplayMedium";
    position: relative;
    left: -21px;
    margin-bottom: 5px;
    overflow: hidden;
}
/* footer  */
footer{
    width: 100%;
    height: 52px;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-left: 100px;
    margin-top: 55px;
}
.box_footer{

    width: 100%;
    max-width: 1350px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    height: 52px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box_footer__left{
 display: flex;
 width: 220px;
 height: 100%;
 /* border: 2px solid red; */
 align-items: center;
 justify-content: space-between;
 font-family: "PlusJakartaDisplayRegular";
 font-size: 16px;
}

.box_footer__leftTwo{
  display: flex;
  /* border: 2px solid red;  */
  width: 320px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  font-family: "PlusJakartaDisplayRegular"; 
  font-size: 16px;                   
}



@media only screen and (max-width: 1620px) {
    .box_body{
        min-height: 1000px;
    }
    /* main_right */
.main_right{
    width: 84%;
    /* border: 2px solid red; */
    margin-right: 25px;
}







/* box_big_slider */
.box_big_slider{
    max-height: 581px;
    /* border: 2px solid red; */
}
.big_slider__left{
    height: 100%;
    width: 25%;
    min-width: 330px;
    /* border: 2px solid red; */

}
.slider_left__title{
    font-size: 16px;
    /* border: 2px solid red; */
    width: 250px;
    height: 20px;
}

.slider_left__stars{
width: 230px;
height: 25px;
margin:5px 0px;
/* border: 2px solid red; */
}

.left_stars__number{
    font-size: 12px;
}
.left_stars__dowloader{
    width: 40px;
    height: 20px;
}
.stars_dowloader__number{
    font-size: 18px;
    margin: auto 3px;
}

.left_text{
    font-size: 12px;
    width:305px;
    margin-right: 10px;
    margin-top: 5px;
}
.left_text__btn{
    min-height: 41px;
    width: 158px;
    margin: 4% 80px 20px;
    font-size: 16px;
}
.big_slider__right{
    width: 75%;
    height: 100%;
    /* border: 2px solid red; */
    overflow: hidden;
    display: flex;
    align-items: center;


}
.big_slider__img{
    width: 100%;
}

/* box_small_slider */
.box_small__slider{
    min-height: 411px;
    /* border: 2px solid red; */
}

.box_small__title{
    font-size: 20px;
    margin: 0px;
}
.small_slider__ourbox{
    width: 100%;
    min-height: 380px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.small_slider__box{
    background-color: white;
    width: 255px;
    height: 210px;
margin-top: 20px;
}
.slider_box__img{

 max-width: 235px;
 margin-top: 5px;
}
.slider_box__text{
    font-size: 12px;
}
/* footer  */
footer{
    width: 100%;
    height: 52px;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-left: 100px;
    margin-top: 5px;
}
.box_footer{

    width: 100%;
    max-width: 1350px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    height: 52px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box_footer__left{
 display: flex;
 width: 190px;
 height: 100%;
 /* border: 2px solid red; */
 align-items: center;
 justify-content: space-between;
 font-size: 14px;
 font-family: "PlusJakartaDisplayRegular";
}
.box_footer__leftTwo{
    font-size: 14px;
}




  }

@media screen and (max-width: 935px) {
    .box_main{
        width: 390px;
      }
    /* header styles */
  header{
    height: 175px;
    width: 390px;
    background-color: #2B3C58;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 0%;
    position: relative;
}
.logo_img{
  height: 69px;
}
.box_search{
  width: 223px;
  height: 32.8px;
  left: 85px;
  position: absolute;
  top: 110px;
}
.input{
  height: 32.8px;
  width: 180px;
  top: -10px;
  font-size: 12px;
}
.search_btn{
  height: 32.8px;
  width: 35px;
  top: -2.5px;
  left: -4px;
}
.search_btn>img{
    transform: scale(.6);
}
.box_button__header{
  margin: 20px 20px;
  border: 1.2px solid #FBB03B;
  width: 100.5092px;
  height: 38.9442px;
  border-radius: 45px;
  /* box-shadow: 2px 2px 0px black; */
}
.button_text{
  color: white;
  width: 50px;
  height: 21px;
  font-size: 12px;
  margin-top: 2px;
  margin-left: 10px;
  font-family: "PlusJakartaDisplayMedium";
}
.img_star{
    width: 12px;
}

/* box_body */
.box_body{
    width: 390px;
    height: auto;
    flex-direction: column;
    position: relative;
}
.main_left{
    z-index: 10;
    width: 390px;
    background: #E4EDF4;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: 50px;
}
.main_left.active{
    height: 320px;
}
nav{
    width: 390px;
    height: 320px;
    margin-top: 0px;
    align-items: flex-start;
}
.nav_children{
    display: flex;
    width: 210px;
    height: 50px;
    cursor: pointer;
    align-items: center;
    padding: 10px;
    position: relative;
    padding-left: 20px;
}
.nav_children.nav{
    background-color: #889DBA;
    border: 0.6px solid #6F8DAD;
    color: white;
    width: 100%;
    position: relative;
    border-radius: 0px;
}
.icons.nav{
    display: flex;
    position: absolute;
    right: 10px;
}
.icons{
    width: 25px;
}
.text{
    font-family: "PlusJakartaDisplayMedium";
    font-size: 16px;
    margin-left: 20px;
}

.text_number.active{
 width: 37px;
 height: 21px;
 background-color: #74BEFF;
 color: white;
 text-align: center;
 border-radius: 50px;
 padding-top: 2px;
 position: absolute;
 right: 10px;
 top: 15px;
}

.box_wallpaper{
    background-color: #889DBA;
    height: 347px;
    width: 230px;
    border-radius: 10px;
    margin-top: 50px;
}
.main_right{
    width: 84%;
    height: 90%;
    background: #F5F7FA;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.small_categories_box{
    display: none;
}






/* main_right */
.main_right{
    top: 25px;
    width: 100%;
    min-height: 1720px;

    /* border: 2px solid red; */

    padding-left: 0px;

}

.small_categories_box{
    height: 30px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: start;
    align-items: center;
    
    font-size: 10px;

    margin-top: 40px;

}

.box_one__img{
    width: 14px;
    margin: 0 3px;
}
.box_one__title{
    font-size: 10px;
    top: 5px;
    width: auto;
}
.box_arrow{
    height: 12px;
    width: 5px;
    margin: 0 8px 0 0;
}
.arrow{
    height: 10px;
}

/* box_big_slider */
.box_big_slider{
    max-height: 1011px;
    flex-direction: column-reverse;
    width: 95%;
    margin: 10px 0;
    display: flex;
    padding: 10px;
    border-radius: 5px;

}
.big_slider__left{
    height: 100%;
    width: 95%;
    padding-left: 5px;
    /* border: 2px solid red; */

}
.slider_left__title{
    width: 80%;
    height: 55px;
    /* border: 2px solid red; */
    font-size: 18px;
    margin-top: 5px;
}

.slider_left__stars{
/* border: 2px solid red; */
width: 240px;
height: 20px;
margin:3px 0px;
}

.left_stars__number{

    font-size: 14px;

}
.left_stars__dowloader{
    /* border: 2px solid red; */
left: -40px;
position: relative;
    width: 40px;
    height: 18px;
}
.stars_dowloader__number{
    font-size: 14px;

}

.left_text{

    font-size: 14px;

    width:305px;
    min-height: 120px;
    /* border: 2px solid red; */
    margin-right: 0px;
}
.left_text__btn{
    min-height: 61px;
    width: 208px;
    border-radius: 5px;
    border: 2px solid #89dae839;
    margin: 15% auto 20px;
    font-size: 18px;

}

.big_slider__right{
    width: 100%;
}


/* box_small_slider */
.box_small__slider{
    max-height: 311px;
    

    width: 100%;
    display: flex;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    padding: 15px 0;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    /* border: 2px solid red; */
}

.small_slider__ourbox{

    justify-content: center;

}
/* .small_slider__box{
    background-color: white;
    width: 305px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
} */
.slider_box__img{
 /* height: 200px; */
 /* max-width: 285px; */
}
/* .slider_box__text{
    font-size: 15px;
    color:#4D4D4D;
    font-family: "PlusJakartaDisplayMedium";
    position: relative;
    left: -21px;
    margin-bottom: 5px;
    overflow: hidden;
} */
/* footer  */
footer{
    width: 100%;
    height: 51px;

    background: #889DBA;
    padding-left: 0px;
    margin-top: 0px;
}
.box_footer{
    width: 100%;
height: 40px;
    /* border: 2px solid red; */
    background: #889DBA;
    flex-direction: column-reverse;

}
.box_footer__left{

 width: 140px;
 height: 20px;
 /* border: 2px solid red; */

 font-size: 10px;
}

.box_footer__leftTwo{
height: 20px;
  /* border: 2px solid red;  */
  width: 220px;

  font-size: 10px;  
  color: white;                 
}


  }
